h1.mainHeader {
	margin-left:auto;
	margin-right:auto;
	width: 450px; 
	text-decoration: underline;
	text-align: center;
	font-weight: bold; 
	color: #E8E8E8;
	background-color: #333333;
	border-style: outset;
}

h2.subHeader {
	color: #FFFFFF;
	text-decoration: underline;
}

p.mainPara {
	color: #FFFFFF; 
	background-color: #333333; 
	border:2px solid;
	border-radius:20px; 
	border-color: #FFFFFF;
	border-style: outset; 
	padding: 0.11cm;
}

p.subPara {
	color: #FFFFFF;
}